@model PhotographyOnlineStore.Core.ViewModels.ShoppingCartSummaryViewModel

<ul class="nav navbar-nav navbar-right">
    <li><a href="@Url.Action("Index", "ShoppingCart")">@Model.ShoppingCartCount items</a></li>
    <li><a href="@Url.Action("Index", "ShoppingCart")">@String.Format("{0:c}", Model.ShoppingCartTotal)</a></li>
</ul>